html {

height:100%;

}

body{
  background-image: url("images/bgs/spacebackground.gif");
  background-repeat: repeat;
  height:100%;
}


#main {



position: relative;
left:25%;
top:20%;

width: 50%;
height:auto;



font-size: 2.5vmin;
color: white;
font-weight: bold;
font-family: 'Roboto', sans-serif;


background-image: url("images/bgs/bgpinetrees.gif");
background-repeat: repeat;

border-style: groove;
border-color: purple;
border-width: 4px;

}

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 6vmin;
  font-family: 'Righteous', cursive;
  

}

.responsive {
  max-width:100%;
  min-width: 0;
  
  height:auto;
}

.flexchildtext {
text-align: center;
}